<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<style>
			[v-cloak] {
				background: red;
			}
		</style>
  </head>
  <body>
    <div class="container" id="app">
    </div>

		<div id="main">
			<div>
				<ul>
					<li>First name: {{ first }}</li>
					<li>Last name: {{ last }}</li>
				</ul>
				<label>First name</label><input type="text" v-model="first">
				<label>Last name</label><input type="text" v-model="last">
				Computed properties area cached: fullname is cached
				<h1>Hello {{ fullname }}</h1>
				<label>Full name</label><input type="text" v-model="fullname"> Fullname does not change with this
				<p>computed is used for output only values. One way.</p>
			</div>
			<div>
				<h2>Level: {{ xp }} </h2>
				<div>You are {{ level }}</div>
				<button @click="addXP">Add</button>
				<button @click="decreaseXP">Decrease</button>
			</div>
			<h1 v-text="message" v-bind:title="hovertext"></h1>
			<input type="text" v-model="message">
			<h2>{{ count }}</h2>
			<button v-on:click="consolelog">Console log</button>
			<button @click="countup">Count Up</button>
			<h3>Visit: {{ cleanurl }}</h3>
			<input type="text" v-model="url">
			<button @click="humanizeUrl">Humanize me!</button>
      <p v-html="intro"></p>
      <p v-text="intro">Raw text rendered here</p>
			<label><input type="checkbox" v-model="viewed"> viewed</label>
			<label><input type="checkbox" v-model="notviewed"> not viewed</label>
      <p v-show="viewed">Viewed</p>
      <p v-show="notviewed">Display None</p>
      <p v-if="notviewed">Invisible</p>
      <p v-else>Visible Else</p>
			<p v-if="notviewed == viewed">Different way to define if</p>
			<p v-pre>{{ message }}</p>
			<p>{{ message }}</p>
			<p v-cloak>{{ message }}</p>
			<p v-pre v-text="message"></p>
			<p v-once v-text="immutable">Render once, then don't bother</p>
			<div><img v-bind:src="imgurl" v-bind:alt="message"> async</div>
			<div><img :src="imgurl" :alt="message"> async (same as above)</div>
			<ul>
				<li v-for="letter in letters">{{ letter.id }} {{ letter.text }}</li>
			</ul>
			<ul>
				<li v-for="count in count"> #{{ count }}</li>
			</ul>
		</div>
    <p>In Chrome's console, type '$vm0.viewed = false'. If it does not work, select 'Root' in Vue devtool</p>
    <script src="dist/js/main.js"></script>
  </body>
</html>
