<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
		<title></title>
		<style>
			[v-cloak] {
				background: red;
			}
		</style>
  </head>
  <body>
    <div id="main">
			<h1 v-text="message" v-bind:title="hovertext"></h1>
			<input type="text" v-model="message">
			<h2>{{ count }}</h2>
			<button v-on:click="consolelog">Console log</button>
			<button @click="countup">Count Up</button>
			<h3>Visit: {{ cleanurl }}</h3>
			<input type="text" v-model="url">
			<button @click="humanizeUrl">Humanize me!</button>
      <p v-html="intro"></p>
      <p v-text="intro">Raw text rendered here</p>
			<label><input type="checkbox" v-model="viewed"> viewed</label>
			<label><input type="checkbox" v-model="notviewed"> not viewed</label>
      <p v-show="viewed">Viewed</p>
      <p v-show="notviewed">Display None</p>
      <p v-if="notviewed">Invisible</p>
      <p v-else>Visible Else</p>
			<p v-if="notviewed == viewed">Different way to define if</p>
			<p v-pre>{{ message }}</p>
			<p>{{ message }}</p>
			<p v-cloak>{{ message }}</p>
			<p v-pre v-text="message"></p>
			<p v-once v-text="immutable">Render once, then don't bother</p>
			<div><img v-bind:src="imgurl" v-bind:alt="message"> async</div>
			<div><img :src="imgurl" :alt="message"> async (same as above)</div>
			<ul>
				<li v-for="letter in letters">{{ letter.id }} {{ letter.text }}</li>
			</ul>
			<ul>
				<li v-for="count in count"> #{{ count }}</li>
			</ul>
		</div>
    <p>In Chrome's console, type '$vm0.viewed = false'. If it does not work, select 'Root' in Vue devtool</p>
    <script src="dist/js/main.js"></script>
  </body>
</html>
